{
  "env": {
    "production": {
      "plugins": ["emotion", "babel-plugin-macros"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }], "babel-plugin-macros"]
    }
  }
}