body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}



.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: 0 auto;
  display: grid;
  /*flex-direction: row;*/
}

.game-board {
  margin: 0 auto;
}

.game-info {
  margin: 0 auto;
}